.checkboxesContainer {
    position: absolute;
    z-index: 999;
    background-color: black;
    color: white;
    width: 300px;
    border-radius: 5px;
    padding: 20px;
    list-style: none;
    top: calc(50% - 300px);
    left: 20px;
    height: 600px;
    overflow: auto;
    opacity: 0.6;
    font-family: Arial, Helvetica, sans-serif;
}